.jumbotron { 
  background: url(https://unsplash.it/500/500/?random) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:500px;
  width:100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
	margin: 0;
	padding: 0;
	border: 0;
}